{% extends "base.html" %}
{% block title %}About - Sava{% endblock %}
{% block content %}
<div>
    <h1 class="gradient-text">About Me</h1>
    <div class="terminal">
        <p><span class="prompt glow-chromatic">C:\></span> <span class="glow-chromatic" data-text="I'm a developer based in Serbia with a background in economics and a strong focus on software engineering. 
            After completing Harvard's CS50 course and building full-stack applications, I discovered a deep interest in backend development, security, and web infrastructure.
            I’ve built projects from scratch, handled everything from authentication to database management, and deployed full-stack apps with modern tools like Render, MongoDB Atlas, and GitHub Actions.
            Outside of coding, I love solving logic puzzles and learning new languages (human and programming alike)."></span><span class="cursor">█</span></p>
    </div>
</div>
{% endblock %}