{% extends "base.html" %}
{% block title %}Contact - Sava{% endblock %}
{% block content %}
<div>
    <h1 class="glow-chromatic">Contact Me</h1>
    <div class="terminal">
      <p><span class="prompt glow-chromatic">C:\></span> <span class="glow-chromatic" data-text="If you would like to get in touch, please fill out the form below."></span> <span class="cursor">█</span></p>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
          <div class="alert alert-{{ category }}">{{ msg }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST">
        <div class="mb-3">
            <label>Name</label>
            <input type="text" class="form-control glow-chromatic" name="name" required>
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input type="email" class="form-control glow-chromatic" name="email" required>
        </div>
        <div class="mb-3">
            <label>Message</label>
            <textarea class="form-control glow-chromatic" name="message" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
{% endblock %}