{% extends "base.html" %}
{% block title %}Projects - Sava{% endblock %}
{% block content %}
<h1><span data-text="My Projects"></span></h1>
<div class="terminal"><span class="projects-list" data-text="Projects"> </span>
    <p><span class="prompt">C:\></span><span data-text="Here are some of the projects I've worked on:"></span><span class="cursor">█</span></p>
    <div class="projects">
        <ul>
            <li><a href="https://github.com/Vuletin/bank-system">🏦 Bank System (Flask)</a></li>
            <li><a href="https://github.com/Vuletin/weather-app">🌤 Weather App (MERN)</a></li>
        </ul>
    </div>
</div>
{% endblock %}
